<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "mozzie"){ %>
    <p>GOOD CHOICE! Mozzie is the best.</p>
<% } else { %>
    <p>Bad choice! You should've said Mozzie</p>
<% } %>
<p>P.S. this is the love.ejs file</p>

<% include partials/footer %>